{% extends 'core/base.html' %}
{% block title %}Sample{% endblock %}

<body>

  <!-- Navegación -->
  <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
    <div class="container">
      <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="index.html">La
        Caffettiera</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item px-lg-4 ">
            <a class="nav-link text-uppercase text-expanded" href="index.html">Inicio</a>
          </li>
          <li class="nav-item px-lg-4 ">
            <a class="nav-link text-uppercase text-expanded" href="about.html">Historia</a>
          </li>
          <li class="nav-item px-lg-4 ">
            <a class="nav-link text-uppercase text-expanded" href="services.html">Servicios</a>
          </li>
          <li class="nav-item px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="store.html">Visítanos</a>
          </li>
          <li class="nav-item px-lg-4 ">
            <a class="nav-link text-uppercase text-expanded" href="contact.html">Contacto</a>
          </li>
          <li class="nav-item px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="blog.html">Blog</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <section class="page-section about-heading">
    <div class="container">
      <div class="about-heading-content mbtm">
        <div class="row">
          <div class="col-xl-9 col-lg-10 mx-auto">
            <div class="bg-faded rounded p-5 forced">
              <h2 class="section-heading mb-4">
                <span class="section-heading-lower">PÁGINA GENÉRICA</span>
              </h2>
              <div class="section-content">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minus, commodi? Ex ducimus commodi quam
                deleniti optio enim ea beatae quaerat qui cupiditate temporibus aliquid animi fugiat blanditiis nobis
                maxime sequi totam recusandae excepturi magni, facere veritatis adipisci! Accusantium expedita facere,
                aut esse numquam quia magnam autem nam eum tenetur voluptates. <br>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Autem expedita aut veniam ab quisquam maiores
                possimus, quis quod dolorem placeat, excepturi fugit aliquid aperiam cum accusantium earum reprehenderit
                recusandae pariatur. <br>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nemo esse quae voluptates qui necessitatibus
                asperiores beatae distinctio aliquam quam! A, modi voluptas. Obcaecati earum cumque accusamus dolorem,
                qui omnis totam eligendi, sit deleniti nihil placeat fugit error quibusdam et temporibus possimus harum
                nulla culpa nesciunt, facere ex! Harum doloremque voluptatum quas officia eos, labore possimus, corrupti
                architecto nulla fugit earum suscipit consectetur et dolorem nemo accusantium expedita. Ullam, itaque.
                Magni tempore optio iste nobis expedita velit voluptatum eveniet atque ratione sed porro, recusandae,
                consequatur asperiores tempora. Rerum eos, unde ab obcaecati vel repellat deleniti, facere, vero at
                sequi ullam porro.
                <p><a href="">Editar</a></p>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Pié de página -->
  <footer class="footer text-faded text-center py-5">
    <div class="container">
      <p class="m-0">

        <a href="" class="link">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
          </span>
        </a>

        <a href="" class="link">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
          </span>
        </a>

        <a href="" class="link">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
          </span>
        </a>

      </p>
      <p class="m-0 mbt">
        <a href="sample.html" class="link">Política de privacidad</a> ·
        <a href="sample.html" class="link">Aviso legal</a> ·
        <a href="sample.html" class="link">Cookies</a>

      </p>
      <p class="m-0 mbt1">&copy; La Caffettiera 2018</p>
    </div>
  </footer>

  <!-- Bootstrap -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>